main {
  background-color: #F5F5F5;
  border-radius: 10px;
  width: min(80%, 600px);
  padding: 3rem;
  margin: auto;
  display: flex;
  gap: 2.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 0.75rem;
}

.info-section h1 {
  font-size: 3rem;
}

.info-section p {
  font-size: 1.5rem;
  color: #4A4E74;
}

.die-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-items: center;
  width: 100%;
}

.roll-button {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem 2.5rem;
  background-color: #5035FF;
  color: #FFF;
  border-radius: 4px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}