.die {
    color: #2B283A;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 2rem;
    font-weight: bold;
}