*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #0B2434;
  width: 100%;
  height: 100vh;
}

div#root {
  height: 100%;
  padding: 2rem 0;
}