*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FAFAF8;
  min-height: 100vh;
}